<%= stylesheet_link_tag "items" %>
<%= stylesheet_link_tag "requests" %>

<body>
	<div id="items" style="margin: 15px !important;">
		<div id="item-feed-container" style="width: 900px; margin: 0 auto;">
			<div id="item-collection">
				<% @query.each do |item| %>
					<% if item.class == "Item" %>
					<%#= render partial: "/items/items", :locals => {:item => item}  %>
					<% else %>
					<%#= render partial: "/requests/requests", locals: {requests: @query} %>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
	<div id="requests">
	</div>
</body>
