<%= stylesheet_link_tag "items" %>
<%= stylesheet_link_tag "requests" %>

<body>
	<div id="items">
		<% @query.each do |item| %>
			<%= render partial: "/items/items", :locals => {:item => item}  %>
		<% end %>
		<div id="pagination-div">
			<%#= will_paginate @query, :next_label => "&#10095;", :previous_label => "&#10094;" %>
		</div>
	</div>
	<div id="requests">
		<%= render partial: "/requests/requests", locals: {requests: @query} %>
	</div>
</body>