<%= stylesheet_link_tag "search" %>

<body>
	<div id="search" style="margin: 15px !important;">
		<div id="search-feed-container" style="width: 900px; margin: 0 auto;">
			<div id="search-collection">
				<% @itemquery.each do |item| %>
					<%= render partial: "/items/items", :locals => {:item => item}  %>
				<% end %>
				<% @requestquery.each do |request| %>
					<%= render partial: "/requests/requests", :locals => {:request => request} %>
				<% end %>
			</div>
		</div>
	</div>
</body>
