<%= stylesheet_link_tag "static-pages" %>

<section class="static-page-header">
  <div class="static-page-header-text-container">
    <h1 class="static-header">Careers at Adae</h1>
  </div>
</section>
<section id="content-block" class="static-page">

  <article class="static-page-section">
  	<p> We are growing fast and are always on the look out for new talent to join our dynamic team! Below are the current openings.
  	</p>
  </article>


  <article class="static-page-section">
    <h3> Full Stack Developer</h3>
    <p>What we are looking for:</p>
     <ul>
       <li>- Advanced ability at writing HTML5, CSS3, and Javascript.</li>
       <li>- Knolwedge of Ruby on Rails, and PostgreSQL</li>
       <li>- Mobile development is nice to have</li>
       <li>- An understanding of user experience and design principles</li>
       <li>- Previous experience working in a startup environment is a plus</li>
    </ul>
  </article>

  <article class="static-page-section">
    <h3 style="padding-top: 2em;"> Business Representative</h3>
    <p>Adae is seeking individuals who are passionate about business development, operational management, and who are ready to be a part of helping build a great company.</p>
     <ul>
       <li>- Must be a self-starter and willing to learn.</li>
       <li>- Must be able to work in both autonomous and collaborative environments.</li>
       <li>- Must be highly organized and work well with priority changes and/or pressure.</li>
       <li>- Must be capable of self-guided learning to solve problems when necessary.</li>
       <li>- Excellent written and oral communication skills.</li>
       <li>- Positive attitude is a must.</li>
       <li>- Experience with market research and customer service an asset.</li>
       <li>- Must be comfortable talking to high-level marketing executives on the phone.</li>
       <li>- Flexibility in working start-up hours also considered an asset.</li>
       <li>- An established business appropriate Twitter handle and LinkedIn considered an asset.</li>
    </ul>
  </article>
  <article class="static-page-section">
    <h4>Please forward your resume and cover letter to <a href="mailto: info@adae.co">info@adae.co</a>, we look forward to hearing from you!</h4>
  </article>

</section>
