<%= stylesheet_link_tag "static-pages" %>

<section class="static-page-header">
  <div class="static-page-header-text-container">
    <h1 class="static-header">Careers at Adae</h1>
  </div>
</section>
<section id="content-block" class="static-page">

  <article class="static-page-section">
  	<p> We are growing fast and are always on the look out for new talent to join our dynamic team! Below are the current openings. <em>We thank you for all that apply, however, only those selected for an interview will be contacted.</em>
  	</p>
  </article>


  <article class="static-page-section">
    <h3> I want to lease an item, what do I do?</h3>
    <p>- First, create an account. Remember that having a photo of yourself and validating your email & phone number will make you more credible to your customers.</p>
    <p>- Next, create your listing and fill out the title, description, rental fee (and deposit). Having good photos of your item will increase the chance of getting it rented out. If you are renting out your time, we will apply a default picture to your listing.</p>
    <p>- If people are interested, they will message you to ask questions or set up a meeting time. Upon confirmation, we will charge the deposit and the rental fee from the other guy's account.</p>
    <p>- When you meet and exchange, or before you start your service, ask your customer to scan the in-app QR code that is unique to each transaction on your phone. This will notify our system that the secure transaction has started.</p>
    <p>- When they return your item, or when your service has ended, display your QR code again and have you customer scan it. This will notify our system that the transaction has ended.</p>
    <p>- Remember to review your customer after the transaction completes. If your item is damaged, please email customerservice@adae.co. We will take care of the logistics and provide the necessary compensation to  you.</p>
  </article>

</section>
