<%= stylesheet_link_tag "contact-us" %>

<section class="contact-page-header">
  <div class="contact-page-header-text-container">
    <h1 class="contact-header">Contact Us</h1>
    <h4 class="contact-subtitle">Got an issue? General Inquiries? Tell us below!</h4>
  </div>
</section>

<div class="content-container">

  <form action="MAILTO:winston@adae.co" method="post" >
    <div class="issue-section">
      <h4> Reason for Contacting </h4>
      <select class="drop-down">
        <option value="refund">Refund</option>
        <option value="cancellation">Cancel Transaction</option>
        <option value="resolvingdispute">Resolving a Dispute</option>
        <option value="suggestions">Suggestions</option>
        <option value="general">General Inquiries</option>
      </select>
    </div>

    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="user_name" />
    </div>
    <div>
        <label for="mail">E-mail:</label>
        <input type="email" id="mail" name="user_email" />
    </div>
    <div>
        <label for="msg">Message:</label>
        <textarea id="msg" name="user_message"></textarea>
    </div>

    <div class="button">
        <button type="submit">Send</button>
    </div>
</form>


</div>
