<%= stylesheet_link_tag "static-pages" %>

<section class="static-page-header">
  <div class="static-page-header-text-container">
    <h1 class="static-header">Frequently Asked Questions</h1>
  </div>
</section>
<section id="content-block" class="static-page">

  <article class="static-page-section">
  	<h3> What is Adae?</h3>
  	<p> Adae is a peer-to-peer marketplace where users can lease, buy, and/or sell items with the people around them.
  	</p>
  </article>


  <article class="static-page-section">
    <h3> I want to lease an item, what do I do?</h3>
    <p>- First, create an account. Remember that having a photo of yourself and validating your email & phone number will make you more credible to your customers.</p>
    <p>- Next, create your listing and fill out the title, description, rental fee (and deposit). Having good photos of your item will increase the chance of getting it rented out. If you are renting out your time, we will apply a default picture to your listing.</p>
    <p>- If people are interested, they will message you to ask questions or set up a meeting time. Upon confirmation, we will charge the deposit and the rental fee from the other guy's account.</p>
    <p>- When you meet and exchange, or before you start your service, ask your customer to scan the in-app QR code that is unique to each transaction on your phone. This will notify our system that the secure transaction has started.</p>
    <p>- When they return your item, or when your service has ended, display your QR code again and have you customer scan it. This will notify our system that the transaction has ended.</p>
    <p>- Remember to review your customer after the transaction completes. If your item is damaged, please email customerservice@adae.co. We will take care of the logistics and provide the necessary compensation to  you.</p>
  </article>

  <article class="static-page-section">
  	<h3> I want to rent an item from someone, what do I do?</h3>
  	<p>- First, create an account. Remember that having a photo of yourself and a validating your email & phone number will make you more credible to the owners.
  	</p>
    <p>- Browse listings in your area, look at the item descriptions and click "Request to Try" to contact the owners to arrange a meeting time.
    </p>
    <p>- Before you rent an item, you will need to fund your account. You can either add a credit card, or fund your account with PayPal. If you choose to fund your account, you will need to have at least the deposit plus the rental fee (for however long you plan to rent for) in your account. If you add a credit card, you don't need to fund your account and we will charge the rental fee from your card (your card will act as the deposit, so we will not charge the deposit unless the item has been damaged).
    </p>
    <p>- When you meet and exchange, or before you start to receive your service, open up the transaction on the Adae mobile app, where you will find the QR scanner. Have the owner present his/her QR code and scan it. This will notify our system that the secure transaction has started.</p>
    <p>- When you return the item, or when your service has ended, ask the owner/service provider for their QR code and scan it. This will notify our system that the transaction has ended.</p>
  </article>

  <article class="static-page-section">
    <h3> How do I cancel my Rental/Purchase Requests?</h3>
  <p>Simple! Go to the My Transactions page, and click the cancel button next to all pending items. <strong>Note that you will only be able to cancel hourly-items 6 hours in advance, and daily or longer items 24 hours in advance to get your full refund back. If you need to cancel after that, please email us and we will evaluate the situation and may only issue a partial refund</strong>.
    </p>
  </article>

  <article class="static-page-section">
  	<h3> How does Rent & Buy work?</h3>
    <p>If you rent and item and really like it, you have the option of buying it from the owner if they allow it (This will be indicated on the Item Page). If you'd like to buy the item, go to the My Transaction page and click on "Request to Purchase". You will only pay the difference between the deposit and the rental fee (i.e. your rental fee becomes your purchasing credit). Purchasing the item will automatically terminate the transaction so you don't need to meet with the owner, exchange and scan QR code.
    As the owner, if you only want to rent out your item, you have the option of disabling the purchase option when you list your items </p>
  </article>

  <article class="static-page-section">
  	<h3> Is Adae safe and secure?</h3>
  	<p id="safe"> We do a number of things to ensure that the transaction is safe and secure:</p>
      <ul>
        <li>All users are validated (email and phone number), and have public profiles where you can see their ratings and reviews. </li>
        <li>All requests are handled by us, so you don't need to email or text each other, or worry about the other person not showing up.</li>
        <li>We handle the money part using Stripe, the best and most secure payment technology online.</li>
        <li>In case of disputes, we are always here to help you to resolve the issues.</li>
      </ul>
  </article>

  <article class="static-page-section">
    <h4>If you have any more questions not covered here, send us a message at <a href="mailto: info@adae.co">info@adae.co</a>, we'd be more than happy to help you! :)</h4>
  </article>

  </section> <!-- ends content-block -->
