<% requests.each do |request| %>
	<%= link_to request_path(request.id) do %>
		<div class="request-index">
			<%= request.title %> 
			| 
			<%= request.description %> 
			<%= request.tags  %>
		</div>
	<% end %>
<% end %>