<%= stylesheet_link_tag "requests" %>

<body>
	<div id="requests">
    	<div id="map-canvas"></div>
    	<div id="request-collection">
		<%= render partial: "/requests/requests", locals: {requests: @requests} %>
    	</div>
	</div>
</body>
