<%= stylesheet_link_tag "requests" %>

<div class="request-title">
	<h1 class="request-listing">Post a Shout Out</h1>
	<p class="shoutout-description">Didn't see what you wanted in the Listings? Post a Shout Out!</p>
</div>
<br>

<%= render 'form' %>
