<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="background-color: #f6f6f6; padding: 10px 25px 25px 25px;">
    <p style="font-size: 15px; color: #4a4a4a; font-weight: 500;">Hello <%= @user.full_name %></p>
    <p style="font-size: 15px; color: #4a4a4a; font-weight: 500;">You have recieved a message from Adae:</p>
	  <p style="line-height: 20px; font-size: 15px; color: #4a4a4a; background-color: #fff; border-radius: 5px; border: 1px solid #979797; padding: 8px;"><%= @message.body %></p>
	   <!--<a style="font-size: 15px; font-weight: 500;" href="https://adae.co/listings">
        <p >Click here to go to more listings</p>
     </a>
     <p style="font-size: 15px; color: #4a4a4a; font-weight: 600; line-height: normal;">Remember, all our transactions are handled through our Scanner App. You can find it and download it below:</p>
        <p><a href="https://itunes.apple.com/ca/app/adae/id1084039853?mt=8"><img style="max-height: 35px; width: auto;" src="https://adae.co/assets/App-Store-1dfbc4b8426418eb4535ca5829436f2857da7fd1f71815ca50c2d21a2231621e.png"></a></p>
        <p><a href="https://play.google.com/store/apps/details?id=com.adae.justinelee.adaecompanion&hl=en"><img style="max-height: 35px; width: auto;" src="https://adae.co/assets/Play-Store-03c1ac7c085172e36466038568db5a5a9929516acfe977f4038731cd3e837b2d.png"></a></p>
      -->
    <p style="font-size: 15px; color: #4a4a4a; font-weight: 500;">Thank you, and have a great day!</p>
    <p style="font-size: 15px; color: #4a4a4a; font-weight: 500;"> Team Adae</p>
    <a href="https://adae.co">
      <img style="height: 30px; width: 80px;" src="https://adae.co/assets/adaelogoblue-0dc62fb795ac842414f4b829322a58d72993aa3d8f725b81ae394782ed74e869.png">
    </a>

  </body>
</html>
