<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello <%= @user.full_name %></p>
    <p>You have recieved a message from AdaeBot:</p>
	  <p><%= @message.body %></p>
	   <a href="https://adae.co/items">
        <p>Click here to go to more listings</p>
     </a>
     <p>Remember, all our transactions are handled through our companion app. You can find it and download it here:</p>
        <p><a href="https://itunes.apple.com/ca/app/adae/id1084039853?mt=8">Apple iTunes Store</a></p>
        <p><a href="https://play.google.com/store/apps/details?id=com.adae.justinelee.adaecompanion&hl=en">Google Play Store</a></p>
    <p>Thank you, and have a great day!</p>
    <p> Team Adae</p>
  </body>
</html>
