<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello Winston</p>
    <p>You have recieved a cash our request from <%= @user.full_name %>:</p>
    <p>His address is:<em><%= @location.full_address %></em></p>
    <p>Thank you, and have a great day!</p>
    <p> Team Adae</p>
  </body>
</html>
