<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello <%= @user.full_name %></p>
    <p>You have recieved a message from <%= @other.full_name %>:</p>
	<p><em><%= @message.body %></em></p>
	   <a href="https://adae.co/conversations">
        <p>You can reply to this message by following this link</p>
     </a>
    <p>Thank you, and have a great day!</p>
    <p> Team Adae</p>
  </body>
</html>
