<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="background-color: #f6f6f6; padding: 10px 25px 25px 25px;">
    <p style="font-size: 15px; color: #4a4a4a; font-weight: 500;">Hi <%= @buyer.full_name %>,</p>
	  <p style="line-height: 20px; font-size: 15px; color: #4a4a4a; background-color: #fff; border-radius: 5px; border: 1px solid #979797; padding: 8px;">Please leave a rating and review for <%=@seller.full_name %>'s service.</p>
		<a style="text-decoration: none;" href="https://adae.co/listings/<%= @listing.id %>#rating-container">
        	<p style="font-size: 15px; background-color: #419bf9; color: #fff; padding: 8px; text-align: center; border-radius: 5px;">Rate & Review <em><%=@listing.title %></em></p>
    	</a>
    <p style="font-size: 15px; color: #4a4a4a; font-weight: 500;">Thank you for sharing your thoughts!</p>
    <p style="font-size: 15px; color: #4a4a4a; font-weight: 500;"> Team Adae</p>
    <a href="https://adae.co">
      <img style="height: 30px; width: 80px;" src="https://adae.co/assets/adaelogoblue-0dc62fb795ac842414f4b829322a58d72993aa3d8f725b81ae394782ed74e869.png">
    </a>
  </body>
</html>
