<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello Winston</p>
    <p>Adae has just recieved a new Signup from <%= @user.full_name %> with the email address: <%= @user.email %>. Signup occured on <%= Time.now.strftime("%m/%d/%y at %l:%M %p") %></p>
    <p>Thank you, and have a great day!</p>
    <p> Team Adae</p>
  </body>
</html>
