<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="background-color: #f6f6f6; padding: 10px 25px 25px 25px;">
    <p style="font-size: 15px; color: #4a4a4a; font-weight: 500;">Hi <%= @recipient.full_name %>,</p>
    <p style="font-size: 15px; color: #4a4a4a; font-weight: 500;">Your Shout Out has been anwered by <%= @user.full_name %> with: <%= @listing.title %> </p>
     <a style="font-size: 15px;" href="https://adae.co/listings/<%= @listing.id %>">
        <p>You can view the posting by following this link</p>
     </a>
    <p style="font-size: 15px; color: #4a4a4a; font-weight: 500;">Thank you, and have a great day!</p>
    <p style="font-size: 15px; color: #4a4a4a; font-weight: 500;"> Team Adae</p>
    <a href="https://adae.co">
      <img style="height: 30px; width: 80px;" src="https://adae.co/assets/adaelogoblue-0dc62fb795ac842414f4b829322a58d72993aa3d8f725b81ae394782ed74e869.png">
    </a>
  </body>
</html>
