<%#= stylesheet_link_tag "landing" %>

<!-- Welcome section -->
<title>adae - Share what you have, get what you want.</title>
<div id="landing">
	<div id="landing-container">
		<div class="logo-name-container">
			<a href="/"><%= image_tag "logo-lg-white.png", id: "logo" %></a>
			<h1 id="welcome">adae</h1>
		</div>

		<div id="summary-container">
			<p class="summary">Share what you have, get what you want. <br> Peer-to-Peer marketplace that is safe and secure.</p>
		</div>
	</div>
