<%= stylesheet_link_tag "items" %>

<div class="list-title">
	<h1 class="item-listing">Post a Listing - Lease</h1>
		<p class="listing-description">Rent your item, and maybe sell it too!</p>
</div>
<br>
	<%= render 'form' %>
