<%= stylesheet_link_tag "items" %>

<div class="list-title">
	<h1 class="item-listing">Post a Listing</h1>
		<p class="listing-description">Make some money by sharing your items, or your time!</p>
		<p class="listing-description">(Make sure you indicate you are leasing this item if you want to sell it!)</p>
</div>
<br>
	<%= render 'form' %>



