<%= stylesheet_link_tag "items" %>

<div class="list-title">
	<h1 class="item-listing">Offer a Service</h1>
		<p class="listing-description">Choose the type of service you are offering below.</p>
		<p class="listing-description">If you need assistance with making a post, ex. Photoshoots, please <a target="_blank" href="https://adae.co/contact">contact us</a> for help.</p>
</div>
<br>
<div class="listing-selection">
	<div class="listing-choices">
		<div class="timeoffer">
			<%= link_to 'Hour/Flat Rate', timeoffer_path, class: "listing-button" %>
			<span class="descriptor"> Choose this if your service will charge by the hour, or by a flat rate payment. </span>
		</div>
		<!-- <div class="rent">
			<%#= link_to 'I want to Rent', rent_path, class: "listing-button" %>
			<span class="descriptor"> Choose this if you only want to rent out your item.</span>
		</div>
		<div class="sell">
			<%#= link_to 'I want to Sell', sell_path, class: "listing-button" %>
			<span class="descriptor"> Choose this if you only want to sell your item. </span>
		</div>-->
		<div class="lease">
			<%= link_to 'Product', lease_path, class: "listing-button" %>
			<span class="descriptor"> Choose this if your service produces items for sale, ex. Baking. </span>
		</div>


	</div>
</div>
