<%= stylesheet_link_tag "items" %>

<div class="list-title">
	<h1 class="item-listing">Post a Listing - Rent</h1>
		<p class="listing-description">Make some money by sharing what you have!</p>
</div>
<br>

<%= render 'form' %>
