<%= stylesheet_link_tag "items" %>

<div class="list-title">
	<h1 class="item-listing">Post a Service Product</h1>
		<p class="listing-description">Make some money by selling your items!</p>
</div>
<br>
	<%= render 'form' %>
