<%= stylesheet_link_tag "items" %>

<div class="list-title">
	<h1 class="item-listing">Offer a Service</h1>
		<p class="listing-description">Make some money by sharing your time!</p>
</div>
<br>
	<%= render 'form' %>
