/*
 *= require jquery-ui
 */
/*= require toastr

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
	font-family: 'Avenir Next', 'Avenir', sans-serif;

}

body {
	margin: 0;
	line-height: 1;
	font-family: 'Avenir Next', 'Avenir', sans-serif;

}
ol, ul {
	list-style: none;
	font-family: 'Avenir Next', 'Avenir', sans-serif;

}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* STYLESSS*/


html {

  /*background: -webkit-linear-gradient(90deg, #DAE2F8 10%, #f48686 90%); /* Chrome 10+, Saf5.1+ */
  /*background:    -moz-linear-gradient(90deg, #DAE2F8 10%, #f48686 90%); /* FF3.6+ */
  /*background:     -ms-linear-gradient(90deg, #DAE2F8 10%, #f48686 90%); /* IE10 */
  /*background:      -o-linear-gradient(90deg, #DAE2F8 10%, #f48686 90%); /* Opera 11.10+ */
  /*background:         linear-gradient(90deg, #DAE2F8 10%, #f48686 90%); /* W3C */

}

html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -100px;
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 100px;
}

#alert {
	font-size: 20px;
	font-weight: 600;
	color: #f5a623;
	position: absolute;
	z-index: 3;
	left:0;
	right:250px;
	line-height: normal;
}

#notice{
	font-size: 20px;
	font-weight: 600;
	color: #419bf9;
	position: absolute;
	z-index: 3;
	left: 200;
	right:500px;
	line-height: normal;
}

.toast-top-center {
	top: 42px;
  left: 50%;
  margin-left: -150px;
	line-height: normal;
	font-size: 20px;

}

.toast-top-right {
	line-height: normal;

}

#warning{
	font-size: 20px;
	font-weight: 600;
	color: crimson;
	position: absolute;
	z-index: 3;
	left: 0;
	right:0;
	line-height: normal;
}

#error_explaination{
	font-size: 20px;
	font-weight: 600;
	color: crimson;
	position: absolute;
	z-index: 3;
	left: 0;
	right:100px;
	line-height: normal;
}

a {
	font-family: 'Avenir Next', 'Avenir', sans-serif;
	text-decoration: none;
	color: inherit;
}

h1 {
	font-size: 30px;
	font-family: 'Avenir Next', 'Avenir', sans-serif;
	font-weight: 300;
	text-align: center;
}

h2 {
	font-size: 25px;
	font-family: 'Avenir Next', 'Avenir', sans-serif;
	font-weight: 700;
}

h3 {
	font-size: 23px;
	font-family: 'Avenir Next', 'Avenir', sans-serif;
	font-weight: 400;
}

h4 {
	font-size: 20px;
	font-family: 'Avenir Next', 'Avenir', sans-serif;
	font-weight: 700;
}

h5 {
	font-size: 20px;
	font-family: 'Avenir Next', 'Avenir', sans-serif;
	font-weight: 400;
}

p, ul, ol, li {
	font-family: 'Avenir Next', 'Avenir', sans-serif;
	text-align: center;
}

/*
ADD item FORMS
*/

label {
	display: block;
	width: 100%;
	font-family: 'Avenir Next', 'Avenir', sans-serif;
	font-size: 18px;
	font-weight: 400;
}

h4, .item-rating-qs {
	font-size: 20px;
	font-family: 'Avenir Next', 'Avenir', sans-serif;
	color: #000000;
	font-weight: 700;
	display: block;
	width: 100%;
}

.question-area {
	display: block;
	width: 70%;
	background-color: #419bf9;
	margin: 0 auto;


}

.item-submit {
	display: inline-block;
	text-align: center;
	font-size: 20px;
	font-family: 'Avenir Next', 'Avenir', sans-serif;
	font-weight: 700;
	margin-left: 20%;
	margin-bottom: 5em;
}

/*
USER ACCOUNT PAGE
*/

.account-heading {
	color: #000000;
}

a.account-links {
	display: block;
}

.user-reviews {
	display: inline-block;
	width: 50%;

}

.user-review {

}

.user-ratings {
	display: inline-block;
	width: 50%;

}

.user-rating {


}

.edit-review {
	display: inline-block;
	margin-top: 0;
	margin-right: 2em;
	margin-left: 2em;

}

.delete-review {
	display: inline-block;
	margin-top: 0;
	margin-right: 2em;


}

/*
EDIT REVIEWS
*/

.edit-review-heading {
	color: #000000;
}
