#welcome{
  font-weight: bold;
}
#landing{
  background-image: url("images/landing_bg.png");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
