body,ul {
	margin: 0;
	padding: 0;
}

#welcome{
  font-weight: bold;
}
#landing{
  background-image: url("landing_bg.png");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
