// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  background-color: #f2f2f2;
}

.user-reviews{
  background-color: #fff;
  width: 100%;
  color: #4a4a4a;
  padding-bottom: 2em;

  .user-review{
    width: 45%;
    display: table;
    margin: 0 auto;
    text-align: left;

    p{
      text-align: left;
      color: #4a4a4a;
      line-height: normal;
    }
  }
  .divider{
    border-top: 1px solid #DCDCDC;
    width: 650px;
    margin: 0 auto;
  }
}
