// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  background-color: #f2f2f2;
}

/*User Profile Info*/
.user-content-container{
  display: table;
  margin: 0 auto;
  margin-top: 2em;
  width: 750px;

.profile-info{
  background-color: #fff;
  width: 200px;
  padding: 15px;
  border-radius: 6px;
  border: 1px solid #979797;
  float: left;

  h1{
    color: #4a4a4a;
    font-size: 20px;
    font-weight: 500;
  }

  p{
    color: #4a4a4a;
    font-size: 15px;
  }

  .p-account-edit{
    &:hover{
      color:#419bf9;
    }
  }
  .p-account-delete{
    &:hover{
      color:#FF6678;
    }
  }
}
/*My Listing Section*/
.listing-container{
  display: table;
  margin: 0 auto;
  padding-bottom: 5em;
  float: right;

  .listing-heading{
    font-size: 18px;
    font-weight: 600;
    color: #4a4a4a;
  }

  .listing-img{
    width: 120px;
    height: 120px;
    overflow: hidden;
    float: left;
    margin-top: 10px;

    img{
      height: 100%;
    }
  }
  .listings{
    border: 1px solid #979797;
    list-style: none;
    background-color: #fff;
    margin-top: 10px;
    margin-left: 132px;
    height: 120px;
    width: 350px;

    .item-title{
      text-align: left !important;
      line-height: normal;
      color: #4a4a4a;
      padding: none;
      margin-left: 10px;
      margin-top: 20px;
    }

    .item-edit-delete-buttons{
      float:right;
      margin-right: 10px;
      margin-top: 25px;

      .edit-item{
        border: 1px solid #419bf9;
        border-radius: 5px;
        color: #419bf9;
        font-size: 14px;
        padding: 3px 15px 3px;
        &:hover{
          background-color: #419bf9;
          color: #fff;
        }
      }

      .delete-item{
        border: 1px solid #FF6678;
        border-radius: 5px;
        color: #FF6678;
        font-size: 14px;
        padding: 3px 7px 3px;
        margin-left: 5px;
        &:hover{
          background-color: #FF6678;
          color: #fff;
          }
        }
      }
    }
  }
}
/*User-Rating Section*/
.user-ratings{
  background-color: #fff;
  width: 100%;
  padding-bottom: 2em;
  padding-top: 1em;
  .account-heading{
    text-align: center;
    color: #4a4a4a;
    font-weight: 500;
  }
  .user-rating-content{
    list-style: none;
    line-height: normal;
    width: 38%;
    display: table;
    margin: 0 auto;
    .rating-title{
      font-weight: 500;
      color: #419bf9;
      margin-top: 11px;
      text-align: left;
      width: 75%;
      float: left;
      &:hover{
        text-decoration: underline;
      }
    }
    .rating-info{
      border: 1px solid #DCDCDC;
      width: 75px;
      border-radius: 5px;
      float: right;
      padding: 5px;
      margin-bottom: 10px;
      a{
        color: #419bf9;
        &:hover{
          text-decoration: underline;
        }
      }
    .rating{
      color: #EADB1E;
      font-size: 30px;
      margin-bottom: -5px;
      margin-top: -3px;
      }
    }
    .divider{
      border-top: 1px solid #DCDCDC;
      width: 100%;
      margin-top: 95px;
    }
  }
}
/*Ratin Section Ends*/

/*User Reviews Section*/
.user-reviews{
  background-color: #fff;
  width: 100%;
  color: #4a4a4a;
  padding-bottom: 3em;

  .account-heading{
    font-weight: 500;
    color: #4a4a4a;
    text-align: center;
  }

  .user-review{
    width: 38%;
    display: table;
    margin: 0 auto;
    text-align: left;

    .review-title{
      font-weight: 500;
      color: #419bf9;
      margin-bottom: -10px;
      &:hover{
        text-decoration: underline;
      }
    }

    p{
      text-align: left;
      color: #4a4a4a;
      line-height: normal;
    }

    .poster{
      font-size: 16px;
      color: #9B9B9B;
      margin-bottom: 5px;
    }

    .edit-delete-buttons{
      float:right;
      margin-bottom: 5px;
      display: inline-block;

    .edit-review{
      border: 1px solid #419bf9;
      border-radius: 5px;
      color: #419bf9;
      font-size: 14px;
      padding: 6px 15px 5px;
      &:hover{
        background-color: #419bf9;
        color: #fff;
      }
    }

    .delete-review{
      border: 1px solid #FF6678;
      border-radius: 5px;
      color: #FF6678;
      font-size: 14px;
      padding: 6px 7px 5px;
      margin-left: -23px;
      &:hover{
        background-color: #FF6678;
        color: #fff;
      }
      }
    }

    .divider{
      border-top: 1px solid #DCDCDC;
      width: 100%;
      margin-top: 55px;
    }
  }
}
/*User Review Section Ends here */
