
    <div class="row buy col-md-4"> 
    	<%= form_tag transactions_stripe_path do%>
	        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
	          data-key=<%= Rails.application.secrets.publishable_key %>
	          data-email=<%= current_user.email %>
	          data-description=""
	          data-amount=<%=((@subtotal+@fee).round(2)*100).to_i%>
	          data-billingAddress="true">
	        </script>
	     <% end %>
    </div>
