<%= stylesheet_link_tag "modals" %>
<script>
  $(document).click(function (e) {
      var companion = $('#shareCompanionModal');

      //if the target of the click isn't the modal...
      if (!companion.is(e.target)&& companion.has(e.target).length === 0) { companion.modal('hide'); }
  });
</script>

<div id="shareCompanionModal" tabindex="-1" role="dialog" aria-labelledby="shareCompanionModal" aria-hidden="true">
  <div class="explore-container">
    <h4 id ="title"> 
      Our Mobile Companion App uses 
      <a target="_blank" href="https://stripe.com/gallery">
        <span id ="secure">secure cash-less transactions powered by Stripe.</span>
      </a>
      </br>
      <span>We handle the exchange of money for you, so that you can have a peace of mind.</span></br></br>
      <span> Here's how it works:</span>
    </h4>
    <div class="app-info">
      <div class="app-preview">
        <iframe style="transform: scale(0.5)" width="438" height="930" src="//invis.io/AG67B4LCV" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="app-descriptions">
        <ul>
          <li id="app-title"><span>&#8592;</span>Try out the preview!</li>
          <li><span class="star">&#9733;</span> When your transaction is accepted, you will be asked to download the Adae Companion App on the App Store or Google Play. </li>
          <li><span class="star">&#9733;</span> Remember that when the transaction is accepted, the reserver's credit card will be charged.
                This is our way to ensure that the reservers only send serious requests. As the owner, if you accept a request, you are obligated to meet with the reserver.</li>
          <li><span class="star">&#9733;</span> When you meet, open the Companion App and select the appropriate transaction. The reserver will scan the owner's in-app QR code for confirmation. Once the QR code is scanned, we will send the money to the owner.</li>
          <li><span class="star">&#9733;</span> If the item needs to be returned or if a service is being offered, you will need to scan again at the end of the transaction.</li>
        </ul>
      </div>
    </div>
  </div>
</div> 
