<%= stylesheet_link_tag "modals" %>
<script>
  function exitModal() {
      $('#shareCompanionModal').modal('hide');
  }
  $(document).click(function (e) {
    var companion = $('#shareCompanionModal');
    //if the target of the click isn't the modal...
    if (!companion.is(e.target)&& companion.has(e.target).length === 0) { companion.modal('hide'); }
  });
</script>

<div id="shareCompanionModal" tabindex="-1" role="dialog" aria-labelledby="shareCompanionModal" aria-hidden="true">
  <span type="button" onclick="exitModal()" class="companion-cancel">&#10006;</span>
  <div class="explore-container">
    <h4 class ="title">
      Now download the Adae Scanner App for payment and verification via <a target="_blank" href="https://stripe.com/gallery">
        <span id ="secure">QR Code Scanning powered by Stripe.</span></a>
    </h4>
    <span style="margin-top: 10px;"class="title"> Here's how it works, please read carefully!</span>
    <div class="app-info">
      <div class="app-preview">
        <iframe style="transform: scale(0.53)" width="438" height="930" src="//invis.io/AG67B4LCV" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="app-descriptions">
        <ul>
          <li id="app-title"><span>&#8592; </span>Try out the preview!</li>
          <li><span class="star">&#x2756;</span> When you both meet, open the app and select the appropriate service. Scan once to verify the start of the service. </li>
          <li><span class="star">&#x2756;</span> <span class="heading">If You Are Paying:</span>  At the end of the service, simply scan the QR code on the other person's phone again. That's it! No cash needed.</li>
          <li><span class="star">&#x2756;</span> <span class="heading">If You Are Being Paid:</span>  Have your QR code scanned again at the end of your service. Your Adae Account will be credited instantly.</li>
          <li><span class="star">&#x2756;</span> If the Service charges a Flat Rate, the second scan is optional. Payment will be sent whenever the first scan occurs. </li>
        </ul>
        <div id="follow"> Got it? Follow the links below!</div>
        <a target="_blank" href="https://itunes.apple.com/ca/app/adae/id1084039853?mt=8"><%= image_tag "modal_app_store.png", class: "modal_app_store" %></a>
        <a target="_blank" href="https://play.google.com/store/apps/details?id=com.adae.justinelee.adaecompanion&hl=en"><%= image_tag "modal_play_store.png", class: "modal_play_store" %></a>
      </div>
    </div>
  </div>
</div>
