<%= stylesheet_link_tag "footer" %>

<footer class ="footer">
  <div class ="about-us-list">
    <ul class = "about-us">
      <li id="header">About Us</li>
      <li><a href="/about">The Team</a></li>
      <li><a href="/faq">FAQ</a></li>
      <li><a href="/terms">Terms & Privacy</a></li>
      <li><a href="/careers">Careers</a></li>
    </ul>
  </div>

  <div class ="app-list">
    <ul class = "app-pics">
      <li id="header-2">Download the App</li>
      <li><a href="/about"><%= image_tag "coming-soon-app-pics-footer.png", id: "coming-soon-footer" %></a>
</a></li>
    </ul>
  </div>
</footer>
