<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="background-color: #f6f6f6; padding: 10px 25px 25px 25px;">

      <p style="font-size: 15px; color: #4a4a4a; font-weight: 500;">Hi <%= @resource.email %>!</p>

      <p style="font-size: 15px; color: #4a4a4a; font-weight: 500;">Your account has been locked due to an excessive number of unsuccessful sign in attempts.</p>

      <p style="font-size: 15px; color: #4a4a4a; font-weight: 500;">Click the link below to unlock your account:</p>

      <p style="font-size: 15px; font-weight: 500;"><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>

      <p style="font-size: 15px; color: #4a4a4a; font-weight: 500;">Thank you!</p>
      <p style="font-size: 15px; color: #4a4a4a; font-weight: 500;"> Team Adae</p>

      <a href="https://adae.co">
        <img style="height: 30px; width: 80px;" src="https://adae.co/assets/adaelogoblue-0dc62fb795ac842414f4b829322a58d72993aa3d8f725b81ae394782ed74e869.png">
      </a>

  </body>
</html>
